@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Fonts
$mainFont: 'Lato', sans-serif;
$secondaryFont : 'Noto Sans', sans-serif;
$titleFont: 'Kanit', sans-serif;

// Font sizes
$welcomeFontSize: 96px;
$warningFontSize: 48px;

// Font colors
$mainFontColor: #868686;
$accentFontColor: #bf4800;

// Background color
$backgroundColor: #F5F5F7;

// Card box shadow
$cardBgColor: rgb(255, 255, 255);

$cardHoverTransition: 350ms ease;

$cardBoxShadow: 
    rgba(0, 0, 0, 0.06) 0px 2px 1px,            rgba(0, 0, 0, 0.06) 0px 4px 2px,
    rgba(0, 0, 0, 0.06) 0px 8px 4px,               rgba(0, 0, 0, 0.06) 0px 16px 8px,
    rgba(0, 0, 0, 0.06) 0px 32px 16px;

$cardHoverShadow: 
    rgba(0, 0, 0, 0.075) 0px 2px 1px, 
    rgba(0, 0, 0, 0.075) 0px 4px 2px,
    rgba(0, 0, 0, 0.075) 0px 8px 4px, 
    rgba(0, 0, 0, 0.075) 0px 16px 8px,
    rgba(0, 0, 0, 0.075) 0px 32px 16px;



